html, body {
	height: 100%;
	margin: 0;
	background-color: #F0F0F0;
}

.wrapper {
	height: 100%;
	margin: 0;
	width: 100%;
}

.sidebar {
	float: left;
	height: 100%;
	width: 10%;
	min-width: 150px;
	background-color: #DDD;
	color: #3C3C3C;
	padding: 0 3px;
}

.sidebar ul {
	list-style-type: none;
	margin: 5px 0;
	padding: 0 10px;
	font-size: 20px;
	line-height: 25px;
}

.chat-body {
	float: left;
	position: relative;
	height: 100%;
	width: 78%;
	min-width: 360px;
	background-color: #F0F0F0;
	color: #3C3C3C;
	padding: 0 5px;
}

.message-div {
	position: absolute;
	bottom: 3px;
	margin-left: 3px;
	width: 100%;
}

#message {
	width: 85%;
}

.message-div input {
	display: inline-block;
}

.name-div {
	width: 150px;
}

#name-input {
	width: 100px;
	margin: 0;
}